@mixin display($justify:center , $align:center){
    display: flex;
    justify-content: $justify;
    $align-items:$align
}

@mixin image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}